@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


html {
  scroll-behavior: smooth;
}

/* STOP left-right screen movement on mobile */
body {
  overflow-x: hidden !important;
}

/* Make sections not overflow */
section {
  overflow-x: hidden;
}


/* Add this custom shape inside globals.css */
/* Custom vector arc */

.clip-custom {
  clip-path: ellipse(65% 80% at 80% 50%);
}
